<!DOCTYPE html>
<html lang="en">

<FluentDesignTheme StorageName="theme" OfficeColor="OfficeColor.Windows" />

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AgiExperiment.Fluent.Web.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="_content/Z.Blazor.Diagrams/style.css" rel="stylesheet" />
    <link href="_content/Z.Blazor.Diagrams/default.styles.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes /> 
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Z.Blazor.Diagrams/script.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
</body>

</html>
